@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:wght@500&display=swap');
body{
    background-attachment: fixed;
    max-width: 385px;
    background-color: #0fa1fe;
    background-size: cover;
    align-items: center;
    height: 325px;
  background-repeat: no-repeat;
}
header{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
  }
  #content{
    background-color: rgb(255, 255, 255);
    left: 300px;
    height: 750px;
    width: 750px;
    margin: 0px;
    opacity: 0.9;
    position: relative;
    border: 3px solid rgb(0, 0, 0); 
}
.formulario{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 230px;
    left: 350px;
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .formulario form input{
    outline: none;
    border: none;
  }
  .formulario form input{
    border: 2px solid #0fa1fe;
    margin-top: 10px;
    background-color: rgb(254, 253, 255);
    border-radius: 1rem;
    color: black;
    width: 30%;
  height: 2rem;
  }
  .formulario form select{
    border: 2px solid #0fa1fe;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color: black;
  }