body{
    background-color: #5a9dc7; /*Color que se muestra en caso de que la imagen no aparezca*/
    background-image: url(fondo5.jpg); /*Imagen de fondo*/
    background-repeat: no-repeat;/*Esto evita que la imagen de fondo se repita varias veces*/
    background-size: 1400px;/*Tamaño de la imagen*/
    background-position-x: 0px; /*Posición de la imagen en x*/
    background-position-y: -450px; /*Posición de la imagen en y*/
}

h1{
    font-family: 'Poppins', sans-serif; /*Fuente de texto*/
    font-size: 60px; /*Tamaño de la fuente*/
    margin-left: 450px; /*Margen del texto desde la izquierda*/
    margin-top: 10px; /*Margen del texto desde arriba*/
    color: white; /*Color de la fuente*/
}

h2{
    font-family: 'Poppins', sans-serif;/*Fuente de texto*/
    font-size: 150px; /*Tamaño de la fuente*/
    margin-left: 450px; /*Margen del texto desde la izquierda*/
    margin-top: 95px; /*Margen del texto desde arriba*/
    color: white; /*Color de la fuente*/
}

.rectangulo{
    background-color: rgb(31, 67, 145); /*Color del rectángulo*/
    width: 100%; /*Tamaño del rectángulo a lo ancho*/
    height: 55%; /*Tamaño del rectangulo a lo alto*/
    position: absolute; /*Evita que el rectángulo se vea afectado por el resto de elementos*/
    z-index: -1; /*Pone el rectángulo por debajo del texto*/
    top: 175px; /*Margen que hay desde arriba*/
    left: 0px; /*Margen desde la izquierda (Nada para que se mantenga contra el borde)*/
}